html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.article {
    background-color: hsla(0, 0%, 100%, 0.808);
    width: 80%;
    padding: 2% 10%;
    margin: auto;
}


.article_header {
    font-family: 'Kalnia', serif;
    font-weight: 300;
    font-size: xxx-large;
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 20px;
}

.article--dark {
    background-color: hsla(0, 0%, 13%, 0.685);
    color: #ccc;
    }