html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.container {
    overflow-x: auto;
}


.body {
   background-image: url("../images/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top;
   background-attachment: fixed;
    max-width:fit-content;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
    line-height: 2;
}

.dark {
       color: #ccc;
}

.header {
    color: rgb(0, 0, 0);
    background-color: hsla(0, 0%, 100%, 0.808);
    width: 80%;
    padding: 20px;
    margin: auto;
    font-family: 'Playfair Display SC', serif;
    font-weight: 200;
    font-size: xxx-large;
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    overflow-x: auto;
    width: 100%;
}

.tableCell {
    border: 1px solid #ccc;
    border-width: 0 0 1px;
    padding: 20px;
}

.caption {
    caption-side: bottom;
    text-align: left;
    padding-top: 5px;
}





.tableHeader {
    background-color: rgb(167, 198, 255);
}

.tableRow:nth-child(even) {
    background-color: rgb(253, 205, 229);
}

.tableRow:hover {
    background-color: rgb(255, 110, 183);
    ;
}

.lista {
    margin: 5px 0;
    padding-left: 20px;
    list-style: none;
    font-size: large;
    color: white;
}

.link {
    text-decoration: none;
    background-color: darkred;
    padding: 5px 10px;
    color: white;
}

.link:visited {
    background-color: darkslategray;
    padding: 5px 10px;
    color: white;
}

.link:focus {
    outline: 2px solid currentColor;
    padding: 5px 10px;
    color: white;
}

.link:hover {
    background-color: blueviolet;
    border-bottom: 1px solid;
    outline: none;
    padding: 5px 10px;
    color: white;
}

.link:active {
    background-color: brown;
}



.rozmyślania {
    border: 1px solid black;
    text-align: center;
    padding: 2%;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}